{{#extends "base"}}
{{#block "content"}}

<h1>Update a movie entry</h1>
<form method="POST">
    <div>
        <label>Title of the movie</label>
        <input type="text" class="form-control" name="title" placeholder="Title" value="{{movie.title}}">
    </div>
    <div>
        <label>Describe the plot of the movie</label>
        <input type="text" class="form-control" name="plot" placeholder="Plot" value="{{movie.plot}}">
    </div>
    <input type="submit" class="btn btn-primary mt-3" value="Update Movie">
</form>


{{/block}}
{{/extends}}