{{#extends "base"}}

{{#block "content"}}

<form method="POST">
    <div>
        <label> Description</label>
        <input type="text" name="description" class="form-control" value="{{description}}"/>
    </div>
     <div>
        <label> Food</label>
        <input type="text" name="food" class="form-control" placeholder="Enter food separated by commas" value="{{food}}"/>
    </div>
     <div>
        <label> Date</label>
        <input type="datetime-local" name="datetime" class="form-control" value="{{datetime}}"/>
    </div>
    <input type="submit" class="btn btn-success mt-3" value="Update Food"/>
</form>
<a href="/food_sighting/delete/{{id}}" class="btn btn-danger">Delete</a>

{{/block}}

{{/extends}}