{{#extends 'base'}}

{{#block "content"}}

<h1>Admin Page</h1>
<h2>View your damn faults here</h2>
<div class="container-fluid">
    <div class="container" id="fault-1" style="border: 1px solid black;" >
        <h4>Fault ID: 1</h4>
        <p>Forgot to do npm init la...</p>
    </div>
    <div class="container" id="fault-2" style="border: 1px solid black;" >
        <h4>Fault ID: 2</h4>
        <p>Forgot to install the express package la...</p>
    </div>
    <div class="container" id="fault-3" style="border: 1px solid black;" >
        <h4>Fault ID: 3</h4>
        <p>Forgot to install the hbs package la...</p>
    </div>
    <div class="container" id="fault-4" style="border: 1px solid black;" >
        <h4>Fault ID: 4</h4>
        <p>Forgot to install the wax-on package la...</p>
    </div>

</div>

{{/block}}

{{/extends}}