{{#extends 'base'}}

{{#block "content"}}

<div class="container" style="height: 200px; background-color: rgb(50, 86, 131); color: white; ">
    <h1>Fault Reporting System</h1>
    <h2>Report your damn faults here</h2>

    
</div>



{{/block}}

{{/extends}}